.container{
    text-align: center;
    margin-top: 50px;
}

.search{
    padding: 20px;
    border: none;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 30px;
    font-size: 20px;
    color: gray;
    font-weight: bold;
    position: relative;
    width: 60%;
    background-color: black;
}

.fa-solid{
    position: absolute;
    font-size: 30px;
    color: gray;
    margin-left: -50px;
    margin-top: 15px;

}

.fa-solid:hover{
    color: gold;
    transition: all 0.5s ease;
}
